@using SocialMedia.Models
@model dynamic

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>


<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="@Model.User.Photo" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Model.User.UserName</h5>
                    <p class="card-text">@Model.User.Biography</p>
                    <a href="@Url.Action("ProfileEdit", "HomePage")" class="btn btn-primary">Profil Düzenle</a>
                    <a href="@Url.Action("Friends", "HomePage")" class="btn btn-primary">Arkadaş: @Model.CountFollowers</a>
                </div>
            </div>
            <a href="@Url.Action("AddContent", "HomePage")" class="btn btn-primary">İçerik Paylaş</a>
        </div>
        <div class="col-8">
            @foreach (ContentViewModel content in Model.ContentViewModel)
            {
                
                <div class="card mb-3" id="content-@content.Content.Id">
                    @{
                        if (content.Content.Type == "File")
                        {
                            @*<img class="card-img-top" src="~/Content/Images/Contents/@content.Content.ObjectPath" alt="Card image cap">*@
                            if (content.Content.ObjectPath.EndsWith(".mp4"))
                            {
                                <video class="card-img-top" controls>
                                    <source src="~/Content/Images/Contents/@content.Content.ObjectPath" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            }
                            else 
                            {
                                <img class="card-img-top" src="~/Content/Images/Contents/@content.Content.ObjectPath" alt="Card image cap">
                            }
                        }
                    }
                <div class="card-body">
                    <h3 class="card-title">@content.Content.Title</h3>
                    <p class="card-text">@content.Content.ContentDescription</p>
                    <a id="likeCount-@content.Content.Id" href="#" class="btn btn-primary">Beğeniler: @content.Likes.Count</a>

                    <a href="@Url.Action("UpdateContent", "HomePage", new { id = @content.Content.Id })" class="btn btn-warning">Düzenle</a><button id="silButton-@content.Content.Id" type="button" class="btn btn-danger" onclick="deleteContent(@content.Content.Id)">Sil</button>




                    <form id="commentForm-@content.Content.Id" onsubmit="addComment(event, @content.Content.Id)">
                        <input type="text" name="Comment" placeholder="Yorumunuz..." required />
                        <button type="submit" class="btn btn-primary">Yorum Yap</button>
                    </form>



                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Yorumlar: @content.ContentComment.Count
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    @foreach (ContentComment comment in content.ContentComment)
                                    {

                                        <p><strong>@comment.Owner.UserName: </strong> @comment.Comment   <span style="color:#808080">, @comment.CreateDateHumanReadable</span>  @if (@comment.OwnerId == @Model.User.Id)
                                        {<span class="btn btn-warning">Düzenle</span><span class="btn btn-danger">Sil</span>;
                                        }</p>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            }
        </div>
    </div>
</div>

<script>
    function deleteContent(contentId) {
        // AJAX isteği göndererek beğeni sayısını artırın ve güncel değeri sayfada gösterin

        $.ajax({
            url: '@Url.Action("DeleteContent", "HomePage")',
            type: 'POST',
            data: { Id: Number(contentId) },
            success: function (response) {

                $("#content-" + contentId).remove();

            },
            error: function () {
                // İsteğin hata vermesi durumunda hata mesajı gösterebilirsiniz
                alert(response);
            }
        });
    }

    function addComment(event, contentId) {
        event.preventDefault(); // Form submit işlemini engellemek için

        var commentForm = $('#commentForm-' + contentId);
        var commentInput = commentForm.find('input[name=Comment]');

        $.ajax({
            url: '@Url.Action("AddComment", "HomePage")',
            type: 'POST',
            data: {
                ContentId: contentId,
                Comment: commentInput.val()
            },
            success: function (response) {
                // İsteğin başarılı olması durumunda sayfayı yeniden yükle
                location.reload();
            },
            error: function () {
                alert('Yorum ekleme işlemi sırasında bir hata oluştu.');
            }
        });
    }

</script>

